{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <h1>Latest Shorten URLs</h1>
        <ul>
            {% for url in latestShortenURLs %}
                <li>{{ url.originalUrl|raw }} -> {{ url.shortenUrl|raw }}</li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
